html{
	background-image: url("opi.png")
	
	

}
#p1{
	
	background-color: black;
	color: white
	
}
#p2{
	
	background-color: black;
	color: white
	
}
#p3{
	
	background-color: black;
	color: white
	
}
#p4{
	
	background-color: black;
	color: white
	
}
#p5{
	
	background-color: black;
	color: white
	
}
